body {
  font-family: sans-serif;
}

*:focus {
  outline:none;
}

.background {
  background-image: url("Img/bgd.jpg");
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backdrop {
  background-color: #3f689c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.login-form-header {
  max-width: 200px;
  margin: auto;
  padding: 0px 0px 10px 0px;
}

.login-form-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 320px;
  max-height: 370px;
  width: 100%;
  height: 100%;
  padding: 20px 0px 30px 0px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #264265;
}

.login-form-body {

}

.input-container {
  padding: 5px 0px 5px 0px;
  margin: 10px;
}

.lost-pwd-container {
  font-size: 0.8em;
  color: rgb(92, 142, 255);
  padding: 3px 0px 16px 0px;
}

.input {
  border: none;
  border-bottom: 1px solid rgb(120, 120, 120);
  padding: 10px;
  width: 50%;
}

.button-container {
  padding: 5px 0px 5px 0px;
}

.button {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  padding: 12px 32px;
  width: 50%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button.login {
  background-color: rgb(92, 142, 255);
  color: white;
  font-weight: bold;
}

.button.login:hover {
  background-color: rgb(80, 120, 200)
}

.button.register {
  background-color: rgb(240, 240, 240);
}

.button.register:hover {
  background-color: rgb(220, 220, 220)
}
